/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  height: 100% !important;
}

.tab {
  margin: calc(var(--lumo-size-s) / 3) 0 calc(var(--lumo-size-s) / 3) calc(var(--lumo-size-s) / 3) !important;
  background-color: skyblue;
  width: 275px;
  padding: 2px !important;
}

.drawer {
  width: auto !important;
  background-color: #82ba00;
}

.tab > * {
  background-color: white;
  margin: 0 !important;
  width: 80%;
  color: black;
}

